[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=SETUP PYR
Exec=sh -e -c "exec sudo \\"\\$(dirname \\"\\$0\\")/.ubuntu/python-installation.sh\\";$SHELL" %k
Comment[en_US]=aaaaaaaaaaa
Name=Server
Comment=aaaaaaaaaaa
Icon=gnome-panel-launcher