[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Server
Exec=sh -e -c "exec \\"\\$(dirname \\"\\$0\\")/.sh/server.sh\\";$SHELL" %k
Comment[en_US]=aaaaaaaaaaa
Name=Server
Comment=aaaaaaaaaaa
Icon=gnome-panel-launcher