<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <link rel="stylesheet"
          href="https://getbootstrap.com/docs/4.3/examples/album/album.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <style>
        .dropdown.bootstrap-select{
            width: inherit !important;
        }
        .dropdown-menu{
            width: 420px;
        }
        .bootstrap-select > .dropdown-toggle.bs-placeholder {
                background: #e2e2e2 !important;
        }

        .bootstrap-select .dropdown-menu[role='combobox']{
            min-width: 100% !important;
        }

        main > div.album {
            min-height: 590px;
        }

        .spinner-grow-sm {
            width: 1.5rem;
            height: 1.5rem;
        }

        .icon-header { font-size: 30px; }

        form .col-form-label { font-weight: bold; }

        .hover { cursor: pointer; }

        .radio-tipo {
            width: 25px;
            display: initial;
            height: calc(1.5em + .75rem + 2px);
        }

        .radio-tipo + label {
            position: relative;
            top: -12px;
            margin: auto 10px;
        }

        .navbar>.container {
            justify-content: flex-end !important;
        }

        .first-menu-item {
                margin-right: auto;
        }
    </style>
    <title>Importador DATASUS</title>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex first-menu-item"><i
                    class="material-icons icon-header">cloud_download</i>
                <strong class="pl-3">Importador DATASUS</strong></a>
            <a href="/informacoes" class="navbar-brand d-flex">Informações sobre os dados</a>
            <a href="/sobre" class="navbar-brand d-flex">Sobre o projeto</a>
        </div>
    </div>
</header>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row pb-4">
                <div class="col-sm-12">
                    <h5>Explicação sobre os dados e funcionamento do importador Datasus:</h5>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p>
                        Cada sistema possui um ou mais tipos de arquivos. Ao baixá-los será possível encontrar cada arquivo
                        no diretório <strong>dados</strong> na raíz do projeto.<br> Os arquivos serão organizados na estrutura TTEEAAMM.dbc.csv, onde
                    TT é uma sigla do tipo (ver siglas abaixo), EE o estado (UF), AA o ano e MM o mês. <br>
                        Caso a opção de carregamento na base de dados MySQL esteja ativada, os arquivos serão também carregados no banco de dados especificado.
                        Cada tipo de arquivo (RD, RJ, SP, etc) representará uma tabela na base de dados.
                    </p>
                    <h6>SIHSUS</h6>
                    <p><a href="/layout-sihsus">Layout dos arquivos SIHSUS</a></p>
                    <p>Arquivos:</p>
                    <ul>
                        <li>RD - AIH Reduzida</li>
                        <li>RJ - AIH Rejeitadas</li>
                        <li>SP - Serviços Profissionais</li>
                        <li>ER - AIH Rejeitadas</li>
                    </ul>

                    <h6>SIASUS</h6>
                    <p>Arquivos:</p>
                    <p><a href="/layout-siasus">Layout dos arquivos SIASUS</a></p>
                    <p>Arquivos:</p>
                    <ul>
                        <li>AB - APAC de Acompanhamento a Cirurgia Bariatrica - A Partir de Jan/2008 ate Mar/2013</li>
                        <li>ABO - APAC Acompanhamento Pós Cirurgia Bariatrica - A Partir de Abr/2013</li>
                        <li>ACF - APAC Confeção de Fístula Arteriovenosa - A Partir de Jun/2014</li>
                        <li>AD - APAC de Laudos Diversos - A Partir de Jan/2008</li>
                        <li>AM - APAC de Medicamentos - A Partir de Jan/2008</li>
                        <li>AN - APAC de Nefrologia - A Partir de Jan/2008 até Out/2014</li>
                        <li>AQ - APAC de Quimioterapia - A Partir de Jan/2008</li>
                        <li>AR - APAC de Radioterapia - A Partir de Jan/2008</li>
                        <li>ATD - APAC Tratamento Dialítico - A Partir de Jun/2014</li>
                        <li>PA - Produção Ambulatorial - A Partir de Jul/1994</li>
                        <li>PS - Psicossocial - A Partir de Jan/2013</li>
                        <li>SAD - Atenção Domiciliar - A Partir de Nov/2012</li>
                    </ul>

                    <!--<h6>SIM</h6>-->
                    <!--<ul>-->
                    <!--<li>DOP - Declarações de Óbito - 2017 preliminar-->
                    <!--<li>DO - Declarações de Óbito - 1979 a 2016-->
                    <!--<li>DOFETP - Declarações de Óbitos fetais - 2017 preliminar-->
                    <!--<li>DOFET - Declarações de Óbitos fetais - 1979 a 2016-->
                    <!--<li>DOEXTP - Declarações de Óbitos por causas externas - 2017 preliminar-->
                    <!--<li>DOEXT - Declarações de Óbitos por causas externas - 1979 a 2016-->
                    <!--<li>DOINFP - Declarações de Óbitos infantis - 2017 preliminar-->
                    <!--<li>DOINF - Declarações de Óbitos infantis - 1979 a 2016-->
                    <!--<li>DOMATP - Declarações de Óbitos maternos - 2017 preliminar-->
                    <!--<li>DOMAT - Declarações de Óbitos maternos - 1996 a 2016-->
                    <!--</ul>-->

                    <h6>CIH</h6>
                    <p><a href="/layout-chia">Layout dos arquivos CIHA</a></p>
                    <p>Arquivos:</p>
                    <ul>
                        <li>CR - Comunicação de Internação Hospitalar - A partir de Jan/2008</li>
                    </ul>

                    <h6>CIHA</h6>
                    <p><a href="/layout-cih">Layout dos arquivos CIH</a></p>
                    <p>Arquivos:</p>
                    <ul>
                        <li>CIHA - Comunicação de Internação Hospitalar e Ambulatorial - A partir de Jan/2011</li>
                    </ul>

                    <h6>SISPRENATAL</h6>
                    <p><i>Sem refências de layout dos arquivos</i></p>
                    <p>Arquivos:</p>
                    <ul>
                        <li>PN - Pré-Natal</li>
                    </ul>

                    <!--<h6>SINASC arquivos:</h6>-->
                    <!--<ul>-->
                        <!--<li>DN - Declarações de nascidos vivos 1994 a 2016</li>-->
                        <!--<li>DNP - Declarações de nascidos vivos 2017 preliminar</li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <h6>Desenvolvido por Lucas Mendes Mota da Fonseca | Orientação: Prof. Dra. Solange Nice Alves de Souza</h6>
        <h6>Para contribuir acesse o projeto no <a target="_blank"
                                                   href="https://github.com/LucasMMota/<todo>">GitHub</a></h6>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    var mock=()=>{
        $('#input_sistema').val('SIHSUS');
        $('#input_tipo').val(['SP']);
        $('#input_estado').val(['RO']);
        $('#input_de_mes').val('01');
        $('#input_de_ano').val('2018');
        $('#input_ate_mes').val('01');
        $('#input_ate_ano').val('2018');
    }

    var is_valid_db_params = ()=>{
        if(
            (
                <!--!!$('input[name="input_db_type"]:checked').val() &&-->
                !!$('#input_db_host').val() &&
                !!$('#input_db_user').val() &&
                !!$('#input_db_dbname').val()
            ) || (
                <!--!$('input[name="input_db_type"]:checked').val() &&-->
                !$('#input_db_host').val() &&
                !$('#input_db_user').val() &&
                !$('#input_db_dbname').val()
           )
        ){
            return true;
        }
        return false;
    }

    var validateForm = ()=>{
        if (
            !$('#input_sistema').val() ||
            !$('#input_tipo').val().length ||
            !$('#input_estado').val().length ||
            !$('#input_de_mes').val() ||
            !$('#input_de_ano').val() ||
            !$('#input_ate_mes').val() ||
            !$('#input_ate_ano').val() ||
            !is_valid_db_params()
        ){
            return false;
        }
        return true;
    }

    var activateBtn = () => {
        $('#btn-submit').attr('disabled', 'true')
        $('#spinner-loading').removeClass('d-none')
    }

    var deactivateBtn = () => {
        $('#btn-submit').removeAttr('disabled')
        $('#spinner-loading').addClass('d-none')
    }

    jQuery(document).ready(()=>{
        let yearToday = new Date()
        yearToday = yearToday.getFullYear()
        $('#input_ate_ano').attr('placeholder', 'Ano (máx: '+ yearToday +')')

        $('#input_sistema').on('change', (elem)=>{
            sistema = elem.target.value
            $('#input_tipo').selectpicker('deselectAll');
            $('.options-tipo').attr('disabled', 'true')
            $('.options-sistema-'+sistema).removeAttr('disabled')
        });

        $('#btn-submit').on('click', (e)=>{
                                                    //TODO REMOVER
                                                    //mock()
            e.preventDefault();

            valid = validateForm();
            if (valid){
                $.ajax({
                  url: '/datasus-downloader',
                  type: 'POST',
                  data: $('form').serialize(),
                  dataType: 'json',
                  beforeSend: function() {
                    activateBtn()
                  },
                  success: function(data) {
                    if (data.status && data.status == 'success')
                        swal('Dados importados com sucesso!', 'Confira no diretório "dados" na raíz do projeto.', 'success');
                    else if(data.msg)
                        swal('Houve um erro ao baixar os dados', data.msg, 'error')
                  },
                  error: function(data) {
                      swal('Houve um erro ao baixar os dados','Tente novamente por favor.', 'error')
                  },
                  complete: function() {
                    deactivateBtn()
                  },
                });
            } else{
                swal('Filtro incorreto!', 'Preencha corretamente os campos do formulário.', 'info');
            }
        }); //end form
    });






</script>
</body>
</html>