<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <link rel="stylesheet"
          href="https://getbootstrap.com/docs/4.3/examples/album/album.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <style>
        .dropdown.bootstrap-select{
            width: inherit !important;
        }
        .dropdown-menu{
            width: 420px;
        }
        .bootstrap-select > .dropdown-toggle.bs-placeholder {
                background: #e2e2e2 !important;
        }

        .bootstrap-select .dropdown-menu[role='combobox']{
            min-width: 100% !important;
        }

        main > div.album {
            min-height: 590px;
        }

        .spinner-grow-sm {
            width: 1.5rem;
            height: 1.5rem;
        }

        .icon-header { font-size: 30px; }

        form .col-form-label { font-weight: bold; }

        .hover { cursor: pointer; }

        .radio-tipo {
            width: 25px;
            display: initial;
            height: calc(1.5em + .75rem + 2px);
        }

        .radio-tipo + label {
            position: relative;
            top: -12px;
            margin: auto 10px;
        }

        .navbar>.container {
            justify-content: flex-end !important;
        }

        .first-menu-item {
                margin-right: auto;
        }







    </style>
    <title>Importador DATASUS</title>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex first-menu-item"><i
                    class="material-icons icon-header">cloud_download</i>
                <strong class="pl-3">Importador DATASUS</strong></a>
            <a href="/informacoes" class="navbar-brand d-flex">Informações sobre os dados</a>
            <a href="/sobre" class="navbar-brand d-flex">Sobre o projeto</a>
        </div>
    </div>
</header>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row pb-4">
                <div class="col-sm-12">
                    <h5>Motivação:</h5>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Este sistema foi desenvolvido como parte do projeto de conclusão do curso de BIG DATA -
                        Inteligência na gestão dos dados.
                        Foi pensado devido a dificuldade em se obter os dados do DATASUS, bem como
                        convertê-los e de fatos utilizá-los em análises de dados. Este sistema propõe uma
                        maneira mais rápida e fácil de carregar os dados remotos em um banco de dados ou arquivos
                        locais.
                    </p>
                </div>
            </div>
            <br>
            <div class="row pb-4">
                <div class="col-sm-12">
                    <h5>Tecnologias:</h5>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        O sistema foi desenvolvido utilizando-se a linguagem Python, R (para conversão dos arquivos
                        originais DBC em CSV),
                        MySQL (suporte para carregamento nessa base), HTML e CSS para interface web, Shell e Batch
                        scripts para criação
                        dos aplicativos para os sistemas operacionais.
                    </p>
                </div>
            </div>
            <br>
            <div class="row pb-4">
                <div class="col-sm-12">
                    <h5>Contribuições:</h5>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        O projeto possui código aberto e está hospedado no <a target="_blank" href="http://github.com/lucasmmota/404">Github</a>.
                        <br>Caso haja interesse em colaborar basta criar uma <i>pull request</i> ou entrar em contato: lucas.lmmf@gmail.com
                    </p>
                </div>
            </div>


        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <h6>Desenvolvido por Lucas Mendes Mota da Fonseca | Orientação: Prof. Dra. Solange Nice Alves de Souza</h6>
        <h6>Para contribuir acesse o projeto no <a target="_blank"
                                                   href="https://github.com/LucasMMota/<todo>">GitHub</a></h6>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    var mock=()=>{
        $('#input_sistema').val('SIHSUS');
        $('#input_tipo').val(['SP']);
        $('#input_estado').val(['RO']);
        $('#input_de_mes').val('01');
        $('#input_de_ano').val('2018');
        $('#input_ate_mes').val('01');
        $('#input_ate_ano').val('2018');
    }

    var is_valid_db_params = ()=>{
        if(
            (
                <!--!!$('input[name="input_db_type"]:checked').val() &&-->
                !!$('#input_db_host').val() &&
                !!$('#input_db_user').val() &&
                !!$('#input_db_dbname').val()
            ) || (
                <!--!$('input[name="input_db_type"]:checked').val() &&-->
                !$('#input_db_host').val() &&
                !$('#input_db_user').val() &&
                !$('#input_db_dbname').val()
           )
        ){
            return true;
        }
        return false;
    }

    var validateForm = ()=>{
        if (
            !$('#input_sistema').val() ||
            !$('#input_tipo').val().length ||
            !$('#input_estado').val().length ||
            !$('#input_de_mes').val() ||
            !$('#input_de_ano').val() ||
            !$('#input_ate_mes').val() ||
            !$('#input_ate_ano').val() ||
            !is_valid_db_params()
        ){
            return false;
        }
        return true;
    }

    var activateBtn = () => {
        $('#btn-submit').attr('disabled', 'true')
        $('#spinner-loading').removeClass('d-none')
    }

    var deactivateBtn = () => {
        $('#btn-submit').removeAttr('disabled')
        $('#spinner-loading').addClass('d-none')
    }

    jQuery(document).ready(()=>{
        let yearToday = new Date()
        yearToday = yearToday.getFullYear()
        $('#input_ate_ano').attr('placeholder', 'Ano (máx: '+ yearToday +')')

        $('#input_sistema').on('change', (elem)=>{
            sistema = elem.target.value
            $('#input_tipo').selectpicker('deselectAll');
            $('.options-tipo').attr('disabled', 'true')
            $('.options-sistema-'+sistema).removeAttr('disabled')
        });

        $('#btn-submit').on('click', (e)=>{
                                                    //TODO REMOVER
                                                    //mock()
            e.preventDefault();

            valid = validateForm();
            if (valid){
                $.ajax({
                  url: '/datasus-downloader',
                  type: 'POST',
                  data: $('form').serialize(),
                  dataType: 'json',
                  beforeSend: function() {
                    activateBtn()
                  },
                  success: function(data) {
                    if (data.status && data.status == 'success')
                        swal('Dados importados com sucesso!', 'Confira no diretório "dados" na raíz do projeto.', 'success');
                    else if(data.msg)
                        swal('Houve um erro ao baixar os dados', data.msg, 'error')
                  },
                  error: function(data) {
                      swal('Houve um erro ao baixar os dados','Tente novamente por favor.', 'error')
                  },
                  complete: function() {
                    deactivateBtn()
                  },
                });
            } else{
                swal('Filtro incorreto!', 'Preencha corretamente os campos do formulário.', 'info');
            }
        }); //end form
    });







</script>
</body>
</html>