<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <style>
        .dropdown.bootstrap-select{
            width: inherit !important;
        }
        .dropdown-menu{
            width: 420px;
        }
        .bootstrap-select > .dropdown-toggle.bs-placeholder {
                background: #e2e2e2 !important;
        }



    </style>
    <title>Sobre - DATASUS Extractor</title>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center"><strong>DATASUS extractor</strong></a>
            <a href="/sobre" class="navbar-brand d-flex align-items-center">Sobre</a>
        </div>
    </div>
</header>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-10">
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                </div>
            </div>
        </div>
    </div>

</main>

<!--<footer class="text-muted">-->
<!--    <div class="container">-->
<!--        <p class="float-right">-->
<!--            <a href="#">Back to top</a>-->
<!--        </p>-->
<!--        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>-->
<!--        <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a-->
<!--                href="/docs/4.3/getting-started/introduction/">getting started guide</a>.</p>-->
<!--    </div>-->
<!--</footer>-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</body>
</html>